#Container {
    width: 100%;
    margin: 0 auto;
}

#Header {
    height: 60px;
    background: #20a0ff;
}

#logo {
    float: right;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}

#Content {
    height: auto;
    margin-top: 3px;

}

#Content-Left {
    min-height: 400px;
    width: 13%;
    float: left;
}

#Content-Main {
    min-height: 400px;
    width: 85%;
    padding-left: 10px;
    float: left;
}

#Footer {
    height: 40px;
    margin-top: 6px;
}

.Clear {
    clear: both;
}