
#Container {
    width: 100%;
    margin: 0 auto;
}

#Header {
    height: 60px;
    background: #20a0ff;
}

#Header H2{
    width: 300px;
    color: white;
    float: left;
    font-size: 22px;
}

#logo1 {
    float: left;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}

#dbms {
    float: right;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}

#Content {
    height: calc(100vh - 60px);

}

#Content-Left {
    width: 210px;
    float: left;
    height:100%;
}

#Content-Main {
    overflow: auto;
    width:calc(100% - 220px);
    float: right;
    height: 100%;
    padding: 20px;
}

#Footer {
    height: 40px;
}

.Clear {
    clear: both;
}
